[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	brb = checkout -b
[user]
	email = everduin@cisco.com
	name = Erik Verduin
[push]
	default = current
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
