.DS_Store
**/.DS_Store
**/__pycache__/
**/*.pyc
**/.zcompdump*
**/.zsh_history
**/.zshrc-temp-og
**/.zshrc_20*
**/node_modules/
**/*.rayconfig
!mac/raycast/.config/raycast/config.rayconfig
mac/karabiner/.config/karabiner/automatic_backups/
tmp/
alacritty/
nvim/
nvim.bak/
zsh/
all/nvim/.config/nvim/autoload
all/nvim/.config/nvim/autoload/**
all/nvim/.config/nvim/autoload/plugged/**
all/nvim/.config/nvim/node_modules
all/nvim/.config/nvim/node_modules/**

