all/nvim/.config/nvim/autoload
all/nvim/.config/nvim/autoload/**
all/nvim/.config/nvim/autoload/plugged/**
all/nvim/.config/nvim/node_modules
all/nvim/.config/nvim/node_modules/**
all/zsh/.config/zsh/.zsh_history
**/.zsh_history
**/node_modules/

