.wow {
  color: #1e4471;
  background: #005073;

  .another-one {
    color: #00bceb;
    background-color: #243034;
    border: 1px solid #f9fafb;
    margin: 64px 32px;
    margin-bottom: 20px;
    padding: 20px;
    font: 14px;
    font-size: 16px;
    border-radius: 50%;
    border-radius: 4px;
  }
}
